<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4"></div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-lg" (click)="onGeneratePdfReport()">
                Export Pdf
            </button>
            <button type="button" class="btn btn-success btn-lg" (click)="onGenerateExcelReport()" style="margin-left: 20px;">
                Export Excel
            </button>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4"></div>
</div>