<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-lg" (click)="onGeneratePdfReport()"
                style="margin-top: 300px;margin-left: 735px;">
                Export Pdf
            </button>
            <button type="button" class="btn btn-primary btn-lg" (click)="onGenerateExcelReport()"
            style="margin-top: 300px;margin-left: 100px;">
                Export Excel
            </button>
        </div>
    </div>
</div>